<h1>Tactical Tic Tac Toe</h1>

<% if flash[:alert] %>
  <div class="alert"><%= "HEY, LISTEN! " + flash.alert %></div>
<% end %>

<p> <%= "It's your turn..." %> </p>

<table align=center cellspacing=10>
  <% row = 0 %>
  <% @config.each_slice(3) do |row_contents| %>
    <tr>
    <% col = 0 %>
    <% row_contents.each do |mark_in_space| %>
      <td>
        <%= button_to mark_in_space == "" ? "  " : mark_in_space,
            tic_tac_toe_make_move_path(coordinates: [row, col], config: @config) %>
      </td>
      <% col += 1 %>
    <% end %>
    </tr>
    <% row += 1 %>
  <% end %>
</table>
