<h1>Tactical Tic Tac Toe</h1>

<% if flash[:alert] %>
  <div class="alert"><%= "HEY, LISTEN! " + flash.alert %></div>
<% end %>

<p> <%= "It's your turn..." %> </p>

<table align=center cellspacing=10>
  <% @board.all_coordinates.each_slice(3) do |row_coordinates| %>
    <tr>
    <% row_coordinates.each do |coordinates| %>
      <td>
        <%= button_to @board.read_space(coordinates),
              tic_tac_toe_make_move_path(coordinates: coordinates,
                                         board_configuration: @board.configuration) %>
      </td>
    <% end %>
    </tr>
  <% end %>
</table>